In [2]:
import numpy as np
import pandas as pd

In [3]:
width = 600
height = 800

In [12]:
with open("../../smu_vis_of_info/workspace/Sketch_002_portrait_curves/curves.txt","r") as fi:
    final = []
    csv = []
    
    """
    for ln in fi:
        if (ln.startswith("beginShape") | ln.startswith("endShape")):
            id.append(ln)
        elif ln.startswith("curveVertex("):
            id.append("Temp")
            csv.append            
    """             
    for ln in fi:
        if ln.startswith("curveVertex("):
            csv.append(ln[12:-3])
            
print(csv)

['165.0,442.0', '174.0,480.0', '194.0,510.0', '211.0,531.0', '233.0,560.0', '255.0,577.0', '290.0,586.0', '333.0,579.0', '366.0,560.0', '390.0,533.0', '426.0,469.0', '433.0,417.0', '420.0,362.0', '417.0,358.0', '399.0,292.0', '373.0,271.0', '366.0,225.0', '354.0,216.0', '278.0,209.0', '249.0,212.0', '214.0,218.0', '188.0,228.0', '173.0,246.0', '169.0,275.0', '166.0,311.0', '161.0,333.0', '161.0,382.0', '166.0,440.0', '164.0,441.0']

In [54]:
df = pd.DataFrame([sub.split(",") for sub in csv],columns=['width','height'])
df = df.astype(float)
df.head()

   width  height
0  165.0   442.0
1  174.0   480.0
2  194.0   510.0
3  211.0   531.0
4  233.0   560.0

In [58]:
data2 = {"width":[width],"height":[height]}
shape_df = pd.DataFrame(data2) 

df.div(shape_df.iloc[0], axis=1)

       width   height
0   0.275000  0.55250
1   0.290000  0.60000
2   0.323333  0.63750
3   0.351667  0.66375
4   0.388333  0.70000
5   0.425000  0.72125
6   0.483333  0.73250
7   0.555000  0.72375
8   0.610000  0.70000
9   0.650000  0.66625
10  0.710000  0.58625
11  0.721667  0.52125
12  0.700000  0.45250
13  0.695000  0.44750
14  0.665000  0.36500
15  0.621667  0.33875
16  0.610000  0.28125
17  0.590000  0.27000
18  0.463333  0.26125
19  0.415000  0.26500
20  0.356667  0.27250
21  0.313333  0.28500
22  0.288333  0.30750
23  0.281667  0.34375
24  0.276667  0.38875
25  0.268333  0.41625
26  0.268333  0.47750
27  0.276667  0.55000
28  0.273333  0.55125